# Ignore SDKs
lib/

# Ignore compiled class files
*.class
out/

# Ignore VS Code workspace settings
.vscode/

# Ignore IDE folders
.idea/
*.iml

# Ignore OS files
.DS_Store
Thumbs.db

#Ignore personalized data files
data/
