/* Root Background */
.vbox {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS", "Segoe UI", sans-serif;
}

/* Pane backgrounds explicitly set to black */
.hbox, .border-pane, .stack-pane, .grid-pane, .anchor-pane {
    -fx-background-color: black;
}

/* Labels */
.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#currentTimeLabel, #totalTimeLabel {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: lighter;
}

/* Buttons & Toggle Buttons */
.button {
    -fx-background-radius: 50%;
    -fx-shape: "M0,50 A50,50 0 1,0 100,50 A50,50 0 1,0 0,50 Z";
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-text-fill: black;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: none;
    -fx-cursor: hand;
}

/* Enlarging and popping effect on hover */
.button:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-effect: none;
}

/* Special size for playPauseButton */
#playPauseButton {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-font-size: 20px;
}

/* Volume Slider Styling */
#volumeSlider {
    -fx-pref-width: 80px;
    -fx-control-inner-background: transparent;
    -fx-padding: 0 5 0 5;
}

#volumeSlider .track {
    /* -fx-background-color: linear-gradient(to right, #bff000 0%, #c0c0c0 100%); */
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-pref-height: 4px;
    -fx-padding: 0.25em;
}

.slider .thumb {
    -fx-background-color: #707070;
    -fx-background-radius: 50%;
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

#volumeSlider .fill {
    /* Match button color */
    -fx-background-insets: 0;
}

#loopButton, #shuffleButton {
    -fx-opacity: 0.3;
    /* Originally deactivated */
}