.menu-item.bff000 {
    -fx-background-color: #bff000;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}

.menu-item.o0ffff {
    -fx-background-color: #00ffff;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}

.menu-item.cbc1ae {
    -fx-background-color: #cbc1ae;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}

.menu-item.fdb0c0 {
    -fx-background-color: #fdb0c0;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}

.menu-item.ff7f7f {
    -fx-background-color: #ff7f7f;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}

.menu-item.fcb001 {
    -fx-background-color: #fcb001;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}
