.button {
    -fx-font-size: 16;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

.slider {
    -fx-control-inner-background: rgba(255,255,255,0.3);
}
